<% if @post.errors.any? %>
  <h2>We have some errors here !</h2>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for [:author, @post] do |f| %>

  <%= f.label :title, "文章名稱：" %>
  <%= f.text_field :title %>

  <%= f.label :body, "類別：" %>
  <%= f.text_area :body %>

  <%= f.label :description, "請詳細敘述：" %>
  <%= f.text_area :description %>

  <%= f.submit %>

<% end %>