<%= link_to '心情點滴新增', new_author_post_path, class: "btn btn-outline-info btn-lg mb-3" %>

<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">編號</th>
        <th scope="col">標題</th>
        <th scope="col">類別</th>
        <th scope="col">編輯</th>
        <th scope="col">刪除</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.id %></td>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
          <td>
            <%= link_to edit_author_post_path(post) do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %>
          </td>
          <td>
            <%= link_to author_post_path(post),method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="fab fa-expeditedssl"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
