<section id="section_posts">
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
        <div class="col-md-4 mt-4">
          <div class="card-deck">
            <%= link_to post_path(post), style: "text-decoration: none;" do %>
              <div class="card" style="height: 400px;">
                <%= image_tag post.image, class: "card-img-top" %>
                <div class="card-body">
                  <h5 class="card-title text-dark"><%= post.title %></h5>
                  <p class="card-text text-muted">
                    <%= truncate(post.description, length: 100) %>
                  </p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"><%= time_ago_in_words(post.created_at) %> ago</small>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
