<div class="container">
  <%= link_to "新增程式分享", new_author_technote_path, class: "btn btn-dark mb-2 mt-4" %>

  <table class="table table-striped">
    <caption class="text-dark">List of TechNotes</caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">編號</th>
        <th scope="col">標題</th>
        <th scope="col">預覽</th>
        <th scope="col">編輯</th>
        <th scope="col">刪除</th>
      </tr>
    </thead>
    <tbody>
      <% @technotes.each do |technote| %>
        <tr>
          <td><%= technote.id %></td>
          <td><%= technote.title %></td>
          <td>
            <%= link_to author_technote_path(technote) do %>
              <i class="fa fa-eye text-muted"></i>
            <% end %>
          </td>
          <td>
            <%= link_to edit_author_technote_path(technote) do %>
              <i class="fas fa-pencil-alt text-muted"></i>
            <% end %>
          </td>
          <td>
            <%= link_to author_technote_path(technote),method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="fab fa-expeditedssl text-danger"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
