<nav class="navbar sticky-top navbar-expand-md navbar-light">
  <div class="container">

    <a class="navbar-brand" href="/">
      <span class="text-warning">
        <i class="fa fa-home"></i>Vita's
      </span>blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <%= link_to "Blog", posts_path, class: "nav-link muted" %>
        </li>

        <li class="nav-item">
          <%= link_to "TechNote", technotes_path, class: "nav-link muted" %>
        </li>

        <li class="nav-item">
          <%= link_to "PortFolio", portfolios_path, class: "nav-link muted" %>
        </li>

        <li class="nav-item">
          <%= link_to "About Vita", vitablogs_about_path, class: "nav-link muted" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle muted" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Vita's Blog
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "My posts", author_posts_path, class: "dropdown-item" %>
              <%= link_to "My TechNote", author_technotes_path, class: "dropdown-item" %>
              <%= link_to "My PortFolio", author_portfolios_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
                <%= link_to "登出", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>

      </ul>
    </div>

  </div>
</nav>

<% if flash[:notice] %>
  <div class="container">
    <div class="row">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= notice %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="container">
    <div class="row">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= alert %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
<% end %>